<div class="footer">
    <div class="container">
        @*<div class="col-md-4"><a href="#">Terms of Service</a></div>
            <div class="col-md-4"><a href="#">Privacy</a></div>
            <div class="col-md-4" style="margin-top:20px;">© 2014 @ViewBag.VerticalUser Network Portal.</div>*@
        <div class="col-md-12">
            <span class="logo-img"></span>
            <span class="content">
                © @DateTime.Now.ToString("yyyy") MyHealthAcumen, Back Pain Centers of America.  All Rights Reserved.
                Back Pain Centers of America does not provide medical advice, diagnosis or treatment.
            </span>
        </div>
    </div>
</div>