<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CRMEntities" connectionString="metadata=res://*/Entity.CRMEntities.csdl|res://*/Entity.CRMEntities.ssdl|res://*/Entity.CRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.0.22;initial catalog=CRMv2;persist security info=True;user id=rmiint;password=int3rn1lP@ss;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
		<add key="ConciergeEmailTransferFrom" value="ambers@backpaincenters.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientEmailTemplateRecipients" value="crmn@responsemine.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientChangeAlertRecipients" value="crmn@responsemine.com,dev@responsemine.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StrollHealthFive9List" value="back_pain_stroll_health" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>