@model DisplayNetwork.Domain.ClientUserType
<div style="font-size:small">
    Hi @Model.FirstName,
    <p>
        You recently visited one of our sites at Back Pain Centers of America and filled out a contact form.  We have attempted to call you 
        and was not able to get you on the phone.  Our goal is to provide you with possible option of doctors in your area as you research your back pain relief and spine surgery options. 
        Back Pain Centers of America often has a network of minimally invasive and non invasive board certified doctors in your area.
    </p>
    <p>
        We encourage all patients to pursue non invasive treatments prior to considering any surgical option.  However, today with a number of minimally invasive treatments offered 
        you may be a candidate for one of the newer procedures offered.  
    </p>
    <p>
        <b>
            Our goal is to connect you with a Patient Advocate at one of our many spine specialist to review your options.  
            We have setup a priority phone number that you can call us back at: <a href="tel:1-800-364-7036">1-800-364-7036</a>.
        </b>
    </p>
    <p>
        In order to determine if you are a candidate for the procedures offered by any of the board certified physicians in our network, our patient coordinators need to speak with 
        you and determine if you are a candidate for a procedure.  
    </p>
    <p>
        Please be prepared to spend 3-5 minutes with us on the phone or email us the best time to call you at <a href="mailto://scheduling@backpaincentersofamerica.com">scheduling@backpaincentersofamerica.com</a>. 
        If you no longer wish to receive communications from us via email, simply send an email to <a href="mailto://unsubscribe@backpaincentersofamerica.com?subject=Unsubscribe">unsubscribe@backpaincentersofamerica.com</a> 
        and our team will update our system within ten business days. 
    </p>
    <p>
        Please let me know if I can provide any additional information or help further.<br />
    </p>
    <p>
        Kind Regards,
    </p>
    <p>
        <b>Ethan</b><br />
        Sr. Patient Coordinator<br />
        <a href="tel:1-800-364-7036">1-800-364-7036</a><br />
        3390 Peachtree Road &#8226; Suite 800 &#8226; Atlanta, GA 30326
    </p>
</div>