@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 1.2em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    /*margin:0 5px 60px;*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    background-color:#4AB5F2;
    color:#fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}
.vertical-align {
	display: table;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}


.modal {
	overflow: hidden !important;
}

.vertical-align > div {
	display: table-cell;
	vertical-align: middle;
}

.vertical-align > div > div {
	width: inherit;
	margin: 0 auto;
}

.modal .modal-body.scrollable {
	overflow: auto;
	max-height: 600px;
}

.text-larger { font-size: 1.5em; }


/*.modal-dialog.modal-sm { top: 30%; }*/

.modal-tranfser-form .panel-footer .btn { margin: 2px 20px; }
.modal-footer .text-larger { padding: 10px; }
.modal-body.text-primary.bg-info { font-size: 1.2em; }
.modal-footer { padding-top: 5px; }
.modal-dialog.modal-md { width: 550px; }

.form-client.vertical-list { padding: 0 15px; }
/*.form-group.vertical-list > div { border:1px solid #ccc; border-radius: 4px; }*/
.modal-customerdetails ul { padding:10px 0; }

.vertical-questions.orthopedic { background:#d8eff8; }
td.img-vertical {
    color:#fff;
    background-color:#4AB5F2 !important;
    font-size:2em;
    text-align: center;
}

ul.typeahead.dropdown-menu { max-height:300px; overflow:auto; }
#errorDialog.modal .modal-body { padding:0; }

.googleMap { width:100%; height:200px; }
#providers .googleMap { height:480px; }

.no-records {
    text-align:center;
    font-size:2em;
    font-weight:600;
}

.panel.panel-info { position: relative; }

#readonly {
  background-color: #c0c0c0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.checkbox.fa input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.checkbox.fa input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

.checkbox.fa input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.checkbox.fa input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.checkbox.fa input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.checkbox.fa input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.checkbox.fa label { font-size:20px; }

#btnCreate { margin-right:20px; }

#errorDialog { top:50px; }
#errorDialog .jumbotron {
    padding:0;
    margin:0;
}

#errorDialog .error-contact p {
  font-size: 16px;
}

.private-message h3 {
  margin: 10px 2px;
  text-align: center;
}

label.ageWarning { float:right; }

div.bmi { font-weight:bold; font-size:1.5em; }
div.bmi span { padding:0 10px; }
.form-group { position:relative; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] { -moz-appearance:textfield; }

div.transfer-script { font-size:1.5em; line-height:20px; }

.duplicate-credentials {
    position:absolute;
    top:-20px;
    left:15px;
    font-weight:bold;
    color:red;
}

#targetresp button {
    float: left;
}

.ziplist {
    float: left;
    width: 650px;
}

.buttons {
    float: left;
}

body button#AddZipCode {
    float: none;
}

body button.quest {
    float: none;
}

.zpbx button {
    float: none !important;
    display: inline !important;
}

.zpbx {
    float: left;
    width: 144px;
    margin-top: 10px;
}

#targetresp {
    margin: 3px;
    padding: 3px;
    height: auto;
    width: 100%;
}

.zpbx label {
    font-size: 8px;
    margin-left: 5px;
    line-height: 10px;
}

.ziplist input {
    width: 100px;
    display: inline !important;
    margin: 3px;
}

.btn.togglePassword { position:absolute; top:0; right:-20px; }

.pad-left-42 { padding-left:42px; }

tr.child span:first-child { padding-left:50px; width:100px; }

tr.child span { float:left; width:200px; }

#clientResults td span.expand {
    cursor:pointer;
}

select#Five9AgentId > option.taken { color:red; }
.checkbox label { font-weight:bold; }
.bg-error { background-color: #ff0000; color:#ffffff; }

.export-controls { position:absolute; right:20px; top:10px; text-align:right; }
.checkbox label { white-space:nowrap; }

.panel-body { position:relative; }
.disabled-overlay { width:100%; height:100%; position:absolute; top:0; left:0; z-index:1000; padding:0; margin:0; display:none; }

.ui-widget-content.jqgrow.ui-row-ltr td { padding:0 5px; }

h2.norecords { text-align:center; margin:0; padding:0; }

.centered-text { text-align:center; }
.centered-text .pagination { margin:0; padding:0; }

.records-info { font-size:1.25em; padding:0; }
.records-info li { list-style:none; display:inline; padding-left: 5px; }
.records-info label { font-weight:bold; }

.filter div.checkbox { position:relative; top:17px; }

.panel-heading.collapsible a { cursor:pointer; }
.panel-heading.collapsible a[data-toggle]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading.collapsible a[data-toggle].collapsed:after {
    content: "\e080";
}

div.input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
}

.pagination li { cursor:pointer; }

.location {
    margin: 20px 0px 20px 0px;
}

.locationsContainer {
    overflow: scroll;
    height: 600px;
}

.googleMap705 { width:550px; min-height:600px; }

#scriptText em { color:red; text-decoration:double; }
#scriptText ol[type='1'] li { padding:20px 0; }

/* all */
.form-control.required::-webkit-input-placeholder,
.form-control.required-ghost::-webkit-input-placeholder { color:#FF6666; }

/* firefox 19+ */
.form-control.required::-moz-placeholder,
.form-control.required-ghost::-moz-placeholder { color:#FF6666; } 

/* ie */
.form-control.required:-ms-input-placeholder,
.form-control.required-ghost:-ms-input-placeholder { color:#FF6666; }

.form-control.required input:-moz-placeholder,
.form-control.required-ghost input:-moz-placeholder { color:#FF6666; }

.fixed { position: fixed; }


#customerSearchResults .panel-heading,
#clientSearchResults .panel-heading {
    position: relative;
}

.excelicon {
   background-image: url("/Content/Images/excelicon.png");
    background-size: 24px auto, 24px auto;
    display: block;
    float: left;
    height: 24px;
    margin-right: 10px;
    width: 24px;
}
#customerSearchResults .btn,
#clientSearchResults .btn {
    padding: 5px 10px;
    /*position: absolute;*/
    right: 10px;
    top: 4px;
}
.input-group.date input.form-control[readonly]:not(.disabled) { cursor:pointer; background-color:#ffffff; }

.radio-group label, label.radio-group { cursor:pointer; }
label.radio-group { font-weight:normal; }

h2 input[type="radio"] { margin: 0 10px; }

.panel-body .details { background-color: #f5f5f5; margin-top:10px; }
.form-transfer .panel-body .details { margin-top:-10px; }

.modal-body .details .phone { font-size:1.5em; } 

.scrollable { overflow:auto; max-height:500px; }

.container-fluid { max-width:1500px; }
.container.reporting { width:1900px; }
.container .error-contact { text-align:center; }
.container .error-contact pre { text-align:left; max-height:400px; }

.hidden { display:none; }

header, footer, nav, section {
    display: block;
}

.modal {
    font-weight: normal;
    color: #000;
    font-size: 1em;
    padding: 30px;
}

.modalcopy {
    list-style: none;

}
.modalcopy li {
    margin: 10px 0px 10px 0px;

}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.info-button {
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 10px;
    font-family: areal, sans-serif;
    color: #000;
    text-align: center;
}

.requieredCopy {
    float: right;
    font-size: 9pt;
    font-weight: normal;
    color:#FF6666;
}

.underline-b { font-weight:bold; text-decoration:underline; }

/*.form-control { margin: 5px 0px 5px 0px; } */


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    display: block;
    font-size: 1.5em;
}

.validation-summary-valid {
    display: none;
}

/*------- Search Results --------------------------*/
#searchresults, #clientSearchResults, #customerSearchResults, #callacenterSearchResults {
    display: none;
}

#clientResults td:nth-child(8), #clientResults td:nth-child(9) {
  text-align: center;
}

.providerinput {
    color: #000;
    font-size: 18px;
}

.providerDescription {
    margin: 5px 5px 5px 15px;
    border: 1px solid #ccc;
}


.inactive {
    color: #ccc;
}

.locationmiles {
    font-size: 20px;
    max-width: 90%;
    margin: 15px 0 0 40px;
}

.clear {
    clear: both;
}



/*--- Bootstrap overloads----*/
.panel-footer {
    height: auto;
}
.panel-buttons { margin:5px 0; }

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.panel-title {
    color: inherit;
    font-size: 30px;
    min-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eee;
    margin-top: 50px;
}



/* Questions --------------------------------------*/
.optionsContainer {
    margin: 0px 0px 0px 20px;
}



.checkbox-group {
    margin: 0px 2px 0px 2px;
}

.textarea-group {
    margin: 20px 2px 0px 2px;
    width: 90%;
}

.textarea-group textarea {
    
    min-height: 75px;
    min-width: 95%;
}

.legend { float:right; font-size:9pt; font-weight:normal; }

.radio-group { float:left; }
/*.input-validation-error .radio-group {  background-color: #fee; border: 1px solid #f00; }*/

.requiredQuestion.input-validation-error {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

/*.question-group { border:1px solid #cecece; padding:10px; margin:10px 0; }*/
.form-customer .question-group { border:1px solid #cecece; padding:10px; }
.parentquestion { font-size: 1.5em; font-weight: bold; display: block; padding-bottom:16px; padding-left:30px; text-indent:-30px; }
span.requiredQuestion, span.notQualified { color:#ff6666; }
span.requiredQuestion:before { content:"* " }
span.qualified { color:#5cb85c; }

.question { margin:10px 15px; }
.child-question { text-indent:-30px; padding-left:50px; }
ul.none { list-style-type:none; }

.datetime-container { width:300px; }

/*.input-group.date.time .form-control { width:172px; }*/

.jumbotron {
    background-color: rgba(0,0,0,0) !important;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #1C406B 0px, #021F41 100%) !important;
    background-repeat: repeat-x;
}

.logo{
    margin-top:50px;
}

.footer span.logo-img {
	background: transparent url("/Content/Images/bpc-logo.svg") no-repeat scroll 0 0 / 180px 55px;
	width: 200px;
	height: 55px;
	float: left;
	position: relative;
}

.footer .content {
	position: relative;
	top: 20px;
}

.video-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	overflow: hidden;
	width: 100%;
	height: 100% !important;
	z-index: 0;
}

.video-background video {
    min-height: 100%; 
    min-width:100%; 
}

.hover {
    z-index:99;
    position:relative;
}

/*
.jumboImage{
	background: transparent url("/Content/Images/HealthIntel.svg") no-repeat scroll 0 0;
    width:264px;
    height:155px;
    float:right;
    margin:50px;
    display:block;
}*/

.login.jumboImage { width:403px; height:298px; float:none; }

.panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #4AB5F2 0px, #4AB5F2 100%);
    background-repeat: repeat-x;
}
.panel-info > .panel-heading {
    background-color: #4AB5F2;
    border-color: #bce8f1;
    color: #fff;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 53px;
    margin-top:50px;
}